{% extends 'core/base.html' %}

{% block titulo %}
    <h1 class="text-center mb-4">Eventos</h1>
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row mb-3">
                <div class="col-md-6 text-center">
                    <a href="{% url 'eventos:eventos_form' %}" class="btn btn-primary btn-lg btn-block">Agendar nuevo evento</a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="{% url 'eventos:eventos_list' %}" class="btn btn-secondary btn-lg btn-block">Ver agenda</a>  
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    
                </div>
                <div class="col-md-6 text-center">
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
