{% extends 'core/base.html' %}

{% block titulo %}
<div align="center">
    <h1 class="fs-7">Ingresar nuevo servicio</h1>
</div>
{% endblock titulo %}

{% block contenido %}
{% if user.is_authenticated %}
<div style="background-color: white; padding: 20px; border-radius: 10px; margin-top: 50px;">
<div align="center">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <div class="fs-2 pb-4">
        <a class = "btn btn-primary"href="{% url 'servicios:home' %}">Volver a Servicios</a>
    </div>
</div>
</div>
{% else %}
<div style="background-color: white; padding: 20px; border-radius: 10px; margin-top: 50px;">
    <h1>Debe estar logeado para tener acceso a esta pagina</h1>
</div>
{% endif %}

{% endblock contenido %}
